<header class="header">
  <div class="row">
    <div class="header__logo column-sm-3 column-md-1 column-xl-1">
      <div></div>
    </div>
    <div class="header__text-search column-sm-9 column-md-6 column-xl-8">
      <input class="header__text-input" type="text" placeholder="поиск" />
      <button class="header__text-button">Найти</button>
    </div>
    <div class="header__catalog column-sm-6 column-md-2 column-xl-2">
      <a href="/catalog"> Каталог </a>
    </div>
    <div class="header__profile column-sm-6 column-md-3 column-xl-1">
      <button>Войти</button>
    </div>
  </div>
</header>

<div class="prod">
    <div class="row">
        <div class="prod__card column-xl-10 column-md-10 column-sm-10">
            <div class="prod__parameters">
                
                <div class="prod__img column-xl-5 column-md-5 column-sm-11"></div>
                <div class="prod__discription column-xl-5 column-md-5 column-sm-11">
                    <div class="prod__title">Отвар из гигаскорпионa</div>
                    <div class="prod__data data">
                        <div class="data__top"><h3>Описание</h3></div>
                        <div class="data__bottom">
                            <p>отвар из гигаскорпионов,<br>
                                обитающих на скелеге</p>
                                <div class="data__stars">
                                    <div class="data__star"></div>
                                    <div class="data__star"></div>
                                    <div class="data__star"></div>
                                    <div class="data__star"></div>
                                    <div class="data__star"></div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="prod__prices">
              <div class="prod__prices-section">

                <div class="prod__data data ">
                  <div class="data__top"><p>
                    Начальная цена
                  </p>
                </div>
                <div class="data__bottom">
                  <h3>
                    100<br>флоренов
                  </h3>
                </div>
              </div>
              <div class="prod__data data ">
                <div class="data__top"><p>
                  конечная цена
                </p>
              </div>
              <div class="data__bottom">
                <h3>
                  100<br>флоренов
                </h3>
              </div>
            </div>
          </div>
          <div class="prod__prices-section">

            <div class="prod__data data ">
              <div class="data__top"><p>
                текущая цена
              </p>
            </div>
            <div class="data__bottom">
              <h3>
                100<br>флоренов
              </h3>
            </div>
          </div>
          <div class="prod__data data ">
            <div class="data__top"><p>
              шаг цены
            </p>
          </div>
          <div class="data__bottom">
            <h3>
              100<br>флоренов
            </h3>
          </div>
        </div>
          </div>
            </div>
            <div class="prod__participation">
              <Button class="prod__button">Учавствовать в торгах</Button>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="column-xl-10 column-md-10 column-sm-10">
      <a href="#">
        <h6>о нас</h6>
      </a>
      <a href="#">
        <h6>партнерство</h6>
      </a>
      <a href="#">
        <h6>Обратная связь</h6>
      </a>
    </div>
  </div>
</footer>
