<header class="header">
    <div class="row">
      <div class="header__logo column-sm-3 column-md-1 column-xl-1">
        <div></div>
      </div>
      <div class="header__text-search column-sm-9 column-md-6 column-xl-8">
        <input class="header__text-input" type="text" placeholder="поиск" />
        <button class="header__text-button">Найти</button>
      </div>
      <div class="header__catalog column-sm-6 column-md-2 column-xl-2">
        <a href="/catalog"> Каталог </a>
      </div>
      <div class="header__profile column-sm-6 column-md-3 column-xl-1">
        <button>Войти</button>
      </div>
    </div>
  </header>

  <footer class="footer">
    <div class="row">
      <div class="column-xl-10 column-md-10 column-sm-10">
        <a href="#">
          <h6>о нас</h6>
        </a>
        <a href="#">
          <h6>партнерство</h6>
        </a>
        <a href="#">
          <h6>Обратная связь</h6>
        </a>
      </div>
    </div>
  </footer>
  