@import "./fonts.scss";


    $background-secondary:#f2c232;
    $background-base:#000;
    $background-button:#2d1f16;
    $background-primary:#1b2026;

    $text-base:#ffffe8;
$text-button:#bbac98;

$text-font:'Rubik',sans-serif;

$text-regular:400;
$text-medium:500;
$text-bold:700;
