<section class="login">
  <div class="row">
    <div class="column-xl-6"></div>
    <div class="login__card column-xl-5 column-md-6 column-sm-9">
      <div class="login__title">
        <h1>Вход</h1>
      </div>
      <div class="login__inputs">
        <div class="login__input">
          <div></div>
          <input type="text" placeholder="логин" />
          <div></div>
        </div>
        <div class="login__input">
          <div></div>
          <input type="text" placeholder="Пороль" />
          <div></div>
        </div>
      </div>
      <div class="login__buttons">
          <button>вход</button>
          <button>регистрация</button>
      </div>
    </div>
    <div class="column-xl-1"></div>
  </div>
</section>
