<header class="header">
  <div class="row">
    <div class="header__logo column-sm-3 column-md-1 column-xl-1">
      <div></div>
    </div>
    <div class="header__text-search column-sm-9 column-md-6 column-xl-8">
      <input class="header__text-input" type="text" placeholder="поиск" />
      <button class="header__text-button">Найти</button>
    </div>
    <div class="header__catalog column-sm-6 column-md-2 column-xl-2">
      <a href="/catalog"> Каталог </a>
    </div>
    <div class="header__profile column-sm-6 column-md-3 column-xl-1">
      <button>Войти</button>
    </div>
  </div>
</header>
<section class="intro">
  <div class="row">
    <div class="intro__card column-xl-10 column-md-10 column-sm-10">
      <div class="intro__text">
        <h1>
          Добро пожаловать!!!<br />
          На аукцион.<br />
          Будь первым!!!
        </h1>
        <button>Зарегистрироваться</button>
      </div>
      <div class="intro__reg"></div>
      <div class="intro__img"></div>
    </div>
  </div>
</section>
<section class="best-sellers">
  <div class="row">
    <div class="best-sellers__card column-xl-10 column-md-10 column-sm-10">
      <div class="best-sellers__title">
        <h3>Лучшие торговцы</h3>
      </div>
      <div class="best-sellers__sellers">
        <div class="best-sellers__seller">
          <div class="icon"></div>
          <div class="title">
            Геральт из<br />
            ривии
          </div>
        </div>
        <div class="best-sellers__seller">
          <div class="icon"></div>
          <div class="title">
            Геральт из<br />
            ривии
          </div>
        </div>
        <div class="best-sellers__seller">
          <div class="icon"></div>
          <div class="title">
            Геральт из<br />
            ривии
          </div>
        </div>
        <div class="best-sellers__seller">
          <div class="icon"></div>
          <div class="title">
            Геральт из<br />
            ривии
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="best-prod">
  <div class="row">
    <div class="best-prod__card column-xl-10 column-md-10 column-sm-10">
      <div class="best-prod__title"><h3>Лучшие товары</h3></div>
      <div class="best-prod__products">
        <div class="best-prod__product">
          <div class="icon"></div>
          <div class="title">отвар из<br />гигаскорпиона</div>
        </div>
        <div class="best-prod__product">
          <div class="icon"></div>
          <div class="title">отвар из<br />гигаскорпиона</div>
        </div>
        <div class="best-prod__product">
          <div class="icon"></div>
          <div class="title">отвар из<br />гигаскорпиона</div>
        </div>
        <div class="best-prod__product">
          <div class="icon"></div>
          <div class="title">отвар из<br />гигаскорпиона</div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="row">
    <div class="column-xl-10 column-md-10 column-sm-10">
      <a href="#">
        <h6>о нас</h6>
      </a>
      <a href="#">
        <h6>партнерство</h6>
      </a>
      <a href="#">
        <h6>Обратная связь</h6>
      </a>
    </div>
  </div>
</footer>
